<div class="container mt-4">
  <h1>スタッフ管理</h1>
  
  <div class="mb-3">
    <%= link_to '新規スタッフ登録', new_staff_path, class: 'btn btn-primary' %>
    <%= link_to 'ホームに戻る', root_path, class: 'btn btn-secondary' %>
    <%= link_to 'シフト管理に戻る', shifts_path, class: 'btn btn-secondary' %>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @staffs.each do |staff| %>
        <tr>
          <td><%= staff.name %></td>
          <td>
            <%= link_to '編集', edit_staff_path(staff), class: 'btn btn-sm btn-secondary' %>
            <%= link_to '削除', staff_path(staff), method: :delete, 
                        data: { confirm: '本当に削除しますか？' }, 
                        class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>