<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="UTF-8">
<title>ページ名 | サイト名</title>
<meta name="description" content="サイトの説明文">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="canonical" href="あなたのサイトURL">
<link rel="icon" type="image/png" href="ファビコンのパス" />
<!-- OGP設定 -->
<meta property="og:type" content="website" />
<meta property="og:url" content="あなたのサイトURL" />
<meta property="og:image" content="SNSで表示させたい画像のパス" />
<meta property="og:title" content="ページタイトル" />
<meta property="og:description" content="サイトの説明文" />
<!-- Facebook用設定 -->
<meta property="fb:app_id" content="facebookのApp ID" />
<meta property="article:publisher" content="FacebookページのURL">
<!-- Twitter用設定 -->
<meta name="twitter:card" content="Twitterカードの種類">
<meta name="twitter:site" content="@ユーザー名">
<!-- スタイルシートはここから -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="assets/style.css">
<link href="https://fonts.googleapis.com/css?family=Comfortaa:500" rel="stylesheet">
</head>

<body>
<header class="container-fluid mb-3 mb-md-0">
  <!-- 営業時間 -->
  <div class="d-md-flex justify-content-between">
    <%# <div class="col-8 col-lg-3 d-none d-md-block top-stitch rounded-bottom">
      <p class="mb-0">OPEN 13:00 - CLOSE 21:00 (LO.20:30)</p>
    </div> %>
    <%# ロゴで表示したい %>
    <h1 class="top-logo">BabelHeim</h1>
    <!-- SNSアイコン -->
    <div class="mt-2 ml-auto float-right float-md-none">
      <!-- Twitter -->
      <a id="twitter" href="https://twitter.com/babel_heim" target="blank"><i class="fab fa-2x fa-facebook-square"></i>
      </a>
      <!-- Facebook -->
      <a id="facebook" href="https://www.facebook.com/Babel-Heim-298530387734629/" target="blank"><i class="fab fa-2x fa-twitter"></i>
      </a>
      <!-- instagram -->
      <a id="instagram" href="https://instagram.com/babelheim" target="blank"><i class="fab fa-2x fa-instagram"></i></a>
    </div>
  </div>
  <nav class="navbar navbar-expand-md navbar-light bg-white pr-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-header">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to 'ABOUT', root_path(anchor: 'ABOUT'), class: "nav-link" %></li>
        <li class="nav-item"><%= link_to 'CALENDAR', root_path(anchor: 'CALENDAR'), class: "nav-link" %></li>
        <li class="nav-item"><%= link_to 'ATTENDING', root_path(anchor: 'ATTENDING'), class: "nav-link" %></li>
        <% if admin_signed_in? %>
        <li class="nav-item"><%= link_to 'ACCESS', root_path(anchor: 'ACCESS'), class: "nav-link" %></li>
          <li>
            <%= link_to "LOGOUT", destroy_admin_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
<!-- トップ画像 -->
<div class="jumbotron-fluid position-relative top-image p-0">
  <!-- トップ画像内文字 -->
  <div class="text-white position-absolute main-txt">
    <% if admin_signed_in? %>
      <h1 style="color:red;">
        管理者画面
      </h1>
    <% end %>
    <h1 class="display-4">BabelHeim</h1>
  </div>
</div>

<!-- 店内紹介 -->
<div class="zigzag text-white py-5" id = "ABOUT">
  <div class="container">

    <h2 class="text-center display-3 pb-3">About</h2>
    <p class="text-center mx-auto mb-5 col-md-10">
      石橋駅徒歩3分のシーシャカフェバー<br/>
      Open:13:00〜23:00 定休日:木曜日、不定休 喫煙可です<br/>
      カフェやバーのみのご利用もお待ちしています♪
    </p>
  </div>
  <div class="container-fluid">
   <div class="row py-5">
      <div class="col-12 col-lg-5 order-md-2 p-lg-0 mb-3">
        <%= image_tag "shisha2.jpg", class: "w-100 about-img" %>
      </div>
      <div class="col-12 col-lg-5 order-md-1 ml-md-auto">
        <h3 class="mb-3 h2">シーシャ</h3>
        <p>
          おまかせセットは1400円から吸えます。
          シーシャのフレイバーは30種類以上の中から好きなものを選んでいただくことも可能です。
        </p>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-12 col-lg-5 order-1 p-lg-0 mb-3">
        <%= image_tag "prohibits.jpg", class: "w-100 about-img" %>
      </div>
      <div class="col-12 col-lg-5 order-2 mr-md-auto">
        <h3 class="mb-3 h2">食べ物持ち込みOK！</h3>
        <p>
          皆様がシーシャの香りを楽しんでいただけるよう、<br/>
          匂いの強い食べ物はご遠慮ください。<br/>
          カフェバーなので飲み物のお持ち込みはご遠慮ください。

        </p>
      </div>
    </div>

  </div>
</div>


<!-- カレンダー -->
<div class="py-5" id="CALENDAR">
  <div class="py-5">
  <h2 class="text-center display-3 pb-3">Calendar</h2>
    <div class="container">
      <% if admin_signed_in? %>
        <%= link_to '休日追加', new_holiday_path %>
      <% end %>
      <%= month_calendar events: @holidays do |date, holidays| %>
        <%= date.day %>
        <% holidays.each do |holiday| %>
        <div>
          <%= holiday.title %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- 混雑状況 -->
<div class="zigzag text-white py-5" id="ATTENDING">
  <div class="py-5">
    <div class="container">
      <h2 class="text-center display-3 pb-3">ATTENDING</h2>
      <p class="text-center mx-auto mb-5 col-md-10">
      店舗の座席情報がリアルタイムで反映されます。<br>
      青色のマークの座席が現在ご利用いただけます。<br>
      赤色のマークの座席は現在使用中です。
      </p>
    </div>
    <div class="relative_tenpo">
      <%= image_tag "tenpo.png", class: "tenpo-image" %>
      <% @seats.first(7).each do |seat| %>
        <%= render partial: 'seats/seat', locals: { seat: seat} %>
      <% end %>
    </div>
  </div>
</div>

<div class="py-5" id = "SPACE">
  <div class="container">

    <h2 class="text-center display-3 pb-3">SPACE</h2>
  </div>
  <div class="container-fluid">
    <div class="row py-5">
      <div class="col-12 col-lg-5 order-md-2 p-lg-0 mb-3">
        <%= image_tag "open-seat.jpg", class: "w-100 about-img" %>
      </div>
      <div class="col-12 col-lg-5 order-md-1 ml-md-auto">
        <h3 class="mb-3 h2">カウンター</h3>
        <p>
          カウンター席は4席ります。感染症対策で席ごとに仕切りを設けています。カウンター席は4席ります。感染症対策で席ごとに仕切りを設けています。カウンター席は4席ります。感染症対策で席ごとに仕切りを設けています。カウンター席は4席ります。感染症対策で席ごとに仕切りを設けています。カウンター席は4席ります。感染症対策で席ごとに仕切りを設けています。カウンター席は4席ります。感染症対策で席ごとに仕切りを設けています。カウンター席は4席ります。感染症対策で席ごとに仕切りを設けています。カウンター席は4席ります。感染症対策で席ごとに仕切りを設けています。カウンター席は4席ります。感染症対策で席ごとに仕切りを設けています。
        </p>
      </div>
    </div>

    <div class="row py-5">
      <div class="col-12 col-lg-5 order-1 p-lg-0 mb-3">
        <%= image_tag "sofa-seat.jpg", class: "w-100 about-img" %>
      </div>
      <div class="col-12 col-lg-5 order-2 mr-md-auto">
        <h3 class="mb-3 h2">ソファ</h3>
        <p>
          ゆったりとリラックスしながらシーシャが吸えます。ゆったりとリラックスしながらシーシャが吸えます。ゆったりとリラックスしながらシーシャが吸えます。ゆったりとリラックスしながらシーシャが吸えます。ゆったりとリラックスしながらシーシャが吸えます。ゆったりとリラックスしながらシーシャが吸えます。ゆったりとリラックスしながらシーシャが吸えます。ゆったりとリラックスしながらシーシャが吸えます。ゆったりとリラックスしながらシーシャが吸えます。ゆったりとリラックスしながらシーシャが吸えます。ゆったりとリラックスしながらシーシャが吸えます。ゆったりとリラックスしながらシーシャが吸えます。
        </p>
      </div>
    </div>

    <div class="row py-5">
      <div class="col-12 col-lg-5 order-md-2 p-lg-0 mb-3">
        <%= image_tag "pair-seat.jpg", class: "w-100 about-img" %>
      </div>
      <div class="col-12 col-lg-5 order-md-1 ml-md-auto">
        <h3 class="mb-3 h2">フラット</h3>
        <p>
          フラット席ではご友人と一緒にシーシャを楽しむ場合におすすめです。フラット席ではご友人と一緒にシーシャを楽しむ場合におすすめです。フラット席ではご友人と一緒にシーシャを楽しむ場合におすすめです。フラット席ではご友人と一緒にシーシャを楽しむ場合におすすめです。フラット席ではご友人と一緒にシーシャを楽しむ場合におすすめです。フラット席ではご友人と一緒にシーシャを楽しむ場合におすすめです。フラット席ではご友人と一緒にシーシャを楽しむ場合におすすめです。フラット席ではご友人と一緒にシーシャを楽しむ場合におすすめです。フラット席ではご友人と一緒にシーシャを楽しむ場合におすすめです。フラット席ではご友人と一緒にシーシャを楽しむ場合におすすめです。
        </p>
      </div>
    </div>

  </div>
</div>


<!-- アクセス -->
<div class="zigzag text-white access pt-5" id = "ACCESS">
  <div class="container text-center">
    <h2 class="display-3 pb-3">ACCESS</h2>
    <div class="mb-3 text-center">
      <p class="mb-0">アクセス：阪急宝塚線「石橋阪大前」下車&ensp;<br class="d-block d-md-none">西改札口&ensp;徒歩3分</p>
    </div>
  </div>
  <!-- 地図 -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.9608032491947!2d135.4406342507051!3d34.80692798031113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000f1d402c2147f%3A0xcfa2637e8d100388!2zYmFiZWwgaGVpbSDvvIjjg5Djg5njg6vjg4_jgqTjg6DvvIk!5e0!3m2!1sja!2sjp!4v1634372635639!5m2!1sja!2sjp" allowfullscreen></iframe>
</div>

<!-- 下部コンテンツ -->
<div class="zigzag text-white mb-0" id = "NEWS">
  <div class="container-fulid py-5">
    <div class="container">
      <div class="row">
        <!-- 店舗情報 -->
        <div class="col-12 col-lg-5">
          <div class="stitch text-white">
            <p class="text-center h4 mb-4"><a href="#" class="text-white">http://babel_heim.com/</a></p>
            <hr class="bg-white my-lg-4">
            <address class="h5 font-weight-bold">
              <p>店舗名：Babel Heim</p>
              <p>住所：大阪府池田市石橋１-２３−２</p>
            </address>
            <hr class="bg-white my-lg-4">
            <div class="h4 font-weight-bold">
              <p>OPEN 13:00 - CLOSE 21:00 (LO.20:30)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- フッター -->
<footer class="py-3 m-0 zigzag-copy">
  <p class="text-center mb-0"><small class="text-white">2021 &copy; BabelHeim All Right Reserved.</small></p>
</footer>

<!-- javascript はここから -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
