<%= form_with(model: @news, local: true) do |form| %>
<h4>Newsの追加</h4>
  <div class="title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="content">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="submit">
    <%= form.submit '追加する' %>
  </div>

<% end %>